* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*
Text Component 1
Main header with home button and navigation buttons
*/

header {
    background: black;
    display: flex;
    flex-direction: column;
}

header h3 {
    width: 100%;
    height: 10vh;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
}

header h3:hover {
    color:#62ddd3;
}

header nav ul{
    width: 100%;
    height: 10vh;
    list-style-type: none;
    background: #275a71;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header nav ul li {
    border: white solid 0.05rem;
    background: #275a71;
    padding: 0.5rem;
}

header ul li:hover {
    background-color: #62ddd3;
}

header ul li a {
    text-decoration: none;
    color: white;
}

/*
Image Component 1
Profile image with my name and title
*/

main {
    min-height: 80vh;
    background-color: #bfd6e1;
    display: flex;
    flex-direction: column;
}

.profile {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.profile img {
    border-radius: 50%;
    width: 60vw;
    max-width: 200px;
    border: white 0.3rem solid;
}

.profile h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.profile a {
    color:#275a71
}

/*
Image Component 2
Social media icons with links
*/

.social-media {
    background-color: #5a8ea7;
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    align-items: center;
    justify-content: center;
}

.social-media a {
    text-decoration: none;
    color: white;
    padding: 0 0.5rem;
}

.social-media a img {
    width: 15vw;
    max-width: 100px;
    display: flex;
    border-radius: 50%;
}

/*
Footer
*/

footer {
    background: black;
    color: white;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
