* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}


/*
Text Component 1
Main header with home button and navigation buttons
*/

header {
    background: black;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
}

header h3 {
    width: 100%;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

header a {
    text-decoration: none;
    display: flex;

}

header h3:hover {
    color:#62ddd3;
}

header nav {
    display: flex;
    flex-direction: row;
}

header nav ul{
    width: 100%;
    list-style-type: none;
    background: #275a71;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

header nav ul li {
    border: white solid 0.05rem;
    background: #275a71;
    padding: 0.5rem;
}

header ul li:hover {
    background-color: #62ddd3;
}

header ul li a {
    text-decoration: none;
    color: white;
}

main {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
}

/*
Heading Style
*/

.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a8ea7;
    color: white;
    letter-spacing: 0.25rem;
    height: 4rem;
}

/*
Image Component 1
Profile image with my profile image and summary
*/

#profile-and-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #bfd6e1;
}

#profile-and-summary img {
    border-radius: 50%;
    width: 60vw;
    max-width: 200px;
    border: white 0.3rem solid;
}

#profile-and-summary p {
    background: white;
    width: 80vw;
    max-width: 600px;
    padding: 1rem;
    border: #275a71 solid 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*
Text Component 2
Skills
*/

#skills {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#skills h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#skills ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80%;
}

#skills ul li {
    width: 8rem;
    height: 8rem;
    margin: 2vw;
    border: #275a71 solid 0.2em;
    background: #bfd6e1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
Text Component 3
Experiences and education
*/

.experiences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background: #5a8ea7;
}

.experiences h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}

.experiences ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.experiences ul li {
    background: white;
    padding: 1rem 1.5rem;
    margin: 0.5rem auto;
    border: #275a71 solid 0.3em;
    width: 80vw;
    max-width: 450px;
}

/*
Resume button with PDF links
*/

#resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

#resume h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#resume button {
    padding: 0.5rem 1.5rem;
    background: #275a71;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
}

#resume button a {
    text-decoration: none;
    color: white;
}

#resume button:hover {
    background: #62ddd3;
}

/*
Footer
*/

footer {
    background: black;
    color: white;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

/* 
Large devices (laptops/desktops, 992px and up) 
*/

@media only screen and (min-width: 992px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        background: #275a71;
        padding: 0 2rem;
    }

    header nav ul li {
        margin-left: 1rem;
        border: none;
    }
}