* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*
Text Component 1
Main header with home button and navigation buttons
*/

header {
    background: black;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    position: fixed;
    width: 100%;
}

header h3 {
    width: 100%;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

header a {
    text-decoration: none;
    display: flex;
}

header h3:hover {
    color: #62ddd3;
}

header nav {
    display: flex;
    flex-direction: row;
}

header nav ul {
    width: 100%;
    list-style-type: none;
    background: #275a71;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

header nav ul li {
    border: white solid 0.05rem;
    background: #275a71;
    padding: 0.5rem;
}

header ul li:hover {
    background-color: #62ddd3;
}

header ul li a {
    text-decoration: none;
    color: white;
}

main {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
}

/*
Heading Style
*/

.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a8ea7;
    color: white;
    letter-spacing: 0.25rem;
    height: 4rem;
    margin-top: 8rem;
}

main {
    min-height: 85vh;
    background-color: #bfd6e1;
    display: flex;
    flex-direction: column;
}

/*
Profile image with my location and email
*/

.profile {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.profile img {
    border-radius: 50%;
    width: 60vw;
    max-width: 200px;
    border: white 0.3rem solid;
}

.profile h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.profile a {
    color: #275a71;
}

/*
Image Component 4
Social media icons with links
*/

.social-media {
    background-color: #5a8ea7;
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    align-items: center;
    justify-content: center;
}

.social-media a {
    text-decoration: none;
    color: white;
    padding: 0 1rem;
}

.social-media a img {
    width: 15vw;
    max-width: 80px;
    display: flex;
    border-radius: 50%;
}

/*
Footer
*/

footer {
    background: black;
    color: white;
    font-size: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

/* 
Large devices (laptops/desktops, 992px and up) 
*/

@media only screen and (min-width: 992px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        background: #275a71;
        padding: 0 2rem;
    }

    header nav ul li {
        margin-left: 1rem;
        border: none;
    }

    .main-heading {
        margin-top: 10vh;
    }
}
